openpyxl==3.0.7
tqdm==4.61.2
pandas==1.1.5
numpy==1.19.5
opencv-python==4.5.1.48
torch==1.7.0
pytorch-ignite==0.4.6
scipy==1.4.1
retina-face==0.0.4
matplotlib==3.3.4
tables==3.6.1
deepface==0.0.63
Cython==0.29.24
git+ssh://git@bitbucket.org/arguscognitive/argusutil.git@v0.4.1#subdirectory=python
git+ssh://git@github.com/SohilZidan/bdlib.git
paramiko==2.7.2
pickle5==0.0.11
pyaml==21.10.1